.overallimg-div {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-family: inherit;
    margin: 0px 0 0 0;
    display: inline-block;
    width: 100%;
}

.w-100 {
    width: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden auto;
    width: 100%; 
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 100%;
}

    input[type=text]:disabled, input[type=email]:disabled {
        background-color: #fff;
        opacity: 0.6;
        border: 1px dashed;
    }

    input:-webkit-autofill, input:-internal-autofill-selected {
        background-color: transparent;
    }

/*  input:required {
        border: 1px solid red;
    }*/


.form-group {
    position: relative;
    border: none;
}

    .form-group + .form-group {
        margin-top: 30px;
    }

.form-label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #757575;
    font-weight: 400;
    background-color: #fff;
    -webkit-transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    z-index: auto;
}

.focused .form-label, input:disabled + label, .notEmptyInput + label, select + label {
    -webkit-transform: translateY(-125%);
    transform: translateY(-125%);
    font-size: 11px;
    padding: 0 3px 0 2px;
    z-index: 12;
    background-color: #fff;
}

.input_error_label {
    position: relative;
    top: -15px;
    color: #f44336;
    font-size: 12px;
}

input[type=text]:disabled, input[type=email]:disabled {
    background-color: #f3f3f3;
}

.form-input:focus, input:focus, select:focus, textarea:focus {
    box-shadow: none;
    border-color: #1e73e4;
}

.form-input {
    color: #757575;
    position: relative;
    border-radius: 5px;
    padding: 5px 13px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    outline: 0;
    border: 0;
    background-color: transparent;
    box-shadow: none;
    -webkit-transition: box-shadow 150ms ease-out;
    transition: box-shadow 150ms ease-out;
    z-index: 10;
    background-clip: padding-box;
    -webkit-appearance: none;
}

.form-input, input, select, textarea {
    border-width: 1px;
    border-style: solid;
    border-color: #ddd;
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-appearance: none;
}

    select.form-input {
        z-index: auto;
    }



.rhs_paddingleft {
    padding: 0 15px 0 50px !important;
}

@media(min-width:1824px) {
    .flex-column-lg {
        display: flex;
        flex-flow: column;
    }
}

@media(max-width:1823px) {
    .flex-column-md {
        display: flex;
        flex-flow: column;
    }
}

@media(max-width:1223px) {
    .flex-column-sm {
        display: flex;
        flex-flow: column;
    }
}

@media(max-width:767px) {
    .flex-column-xs {
        display: flex;
        flex-flow: column;
    }

    .rhs_paddingleft {
        padding: 30px 15px 0 15px !important;
    }

     
    .signup_comprhs {
        padding: 10px;
    }
}

 
@media(min-width:577px) {
    .md_navheader {
        width: 100%;
    }

        .md_navheader img {
            top: 0px;
        }

    /*  .md_navheader {
        width: 100%;
    }*/
 
    .signup_compImg {
        justify-content: center;
    }

        .signup_compImg img {
            max-width: 75%;
        }

    .signup_comprhs {
        padding: 10px;
    }
}

/*@media(min-device-width:850px) and (max-device-width:1024px) and (orientation:landscape) {
    .md_navheader button.toggle_bar {
        display: none;
    }

    .md_navheader {
        max-width: 20%;
    }

    .md_navheader_menus {
        max-width: 80%;
        position: relative;
        top: 4px;
        float: right;
        display: block !important;
    }

    .md_navheader img {
        width: 95%;
        padding: 0 15px;
        max-width: 100%;
        object-fit: cover;
        vertical-align: sub;
        position: relative;
        top: 6px;
    }

    .signup_compImg {
        justify-content: center;
    }

        .signup_compImg img {
            max-width: 50%;
        }
}*/




.topbar {
    z-index: 50;
    /*box-shadow: 0 0.1875rem 0.3125rem 0 rgba(44, 46, 48, 0.1);*/
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.93);
    border-bottom: 1px solid #E0E0E0;
}

.flex-center-x {
    display: flex;
    justify-content: center;
}

.flex-center-y {
    display: flex;
    align-items: center;
}

.flex-center-xy {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Email-input {
    height: 40px;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    width: 100%;
    margin: 0px 0 15px 0;
    color: #757575;
    border: 1px solid #ddd;
    outline: 0;
}

.construction-para {
    color: #696969;
    font-size: 15px;
    padding: 10px 0px 10px 0;
}

.btn.subsribe-btn {
    background-color: #1a73e9;
    padding: 5px 20px;
    margin-left: 5px;
    border-radius: 30px;
    color: #fff;
    outline: 0;
    border: 1px solid #1a73e9;
    min-width: 100px;
    font-size: 14px;
}

    .btn.subsribe-btn:first-child {
        margin-left: 5px;
    }

    .btn.subsribe-btn:hover {
        background: #3a86ed;
        color: #fff;
        border: 1px solid #3a86ed;
    }

    .btn.subsribe-btn:focus {
        text-decoration: none;
        outline: 0 !important;
        color: #fff !important;
    }



.blurred-background {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
    background-color: #000000;
}

.footer-list.section1 {
    float: left;
}

    .footer-list.section1 img {
        padding: 0 0 12px;
    }

    .footer-list.section1 ul {
        padding: 0;
        margin: 0;
    }

    .footer-list.section1 li {
        width: 100%;
        color: #f3f3f3;
    }

.footer-list.section2 {
    float: left;
}

    .footer-list.section2 .headline, .footer-list.section3 .headline {
        padding: 0 0 5px 0;
        margin: 0 0 5px 0;
        font-weight: 600;
        font-size: 15px;
    }

        .footer-list.section2 .headline > span, .footer-list.section3 .headline > span {
            border-bottom: 2px solid #1a73e9;
            padding: 0 0 5px 0;
        }

    .footer-list.section2 li, .footer-list.section3 li {
        padding: 5px 0px;
        cursor: pointer;
        width: 100%;
        color: #f3f3f3;
    }

        .footer-list.section2 li a, .footer-list.section3 li a {
            color: #fff;
        }

.footer-list.section3 li {
    cursor: auto;
}

.footer-list.Subscribe_section {
    margin: 25px 0 0;
}

    .footer-list.Subscribe_section .social-buttons {
        width: 100%;
        clear: both;
    }

        .footer-list.Subscribe_section .social-buttons .social-btn {
            width: 32px;
            height: 32px;
            margin: 0 5px;
            cursor: pointer;
            border-radius: 4px;
            padding: 6px;
        }

            .footer-list.Subscribe_section .social-buttons .social-btn.facebook {
                background-color: #4867aa;
                color: #fff;
            }

            .footer-list.Subscribe_section .social-buttons .social-btn.instagram {
                background-color: #7620b4;
                color: #fff;
            }

            .footer-list.Subscribe_section .social-buttons .social-btn.twitter {
                background-color: #53a7e7;
                color: #fff;
            }

            .footer-list.Subscribe_section .social-buttons .social-btn:hover {
                background-color: rgba(240, 255, 255, 0.30);
            }

.footer-div-des-2 {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 13px;
}

    .footer-div-des-2 .input-style {
        height: 35px;
        border-radius: 50px;
        padding: 0 10px 0 10px;
        width: 100%;
        margin: 0px 0 15px 0;
        color: #757575;
        border: 1px solid #ddd;
        outline: 0;
        max-width: 100%;
    }

        .footer-div-des-2 .input-style:focus {
            border-color: #1e73e4;
        }

    .footer-div-des-2 .footercontent-div {
        float: left;
        width: 100%;
        /*background: url('Images/lefttopcorner.png')0 0 no-repeat;*/
        background: url('https://i.pinimg.com/originals/6f/f6/02/6ff602bcb83ba25c3d40c95cfca8d28e.jpg')0 0 no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        color: #fff;
        background-color: #1d2331;
        padding: 20px 0px;
        flex-wrap: wrap;
    }

    .footer-div-des-2 .copyright-div {
        background-color: #1d2331;
        text-align: center;
        float: left;
        width: 100%;
        color: #fff;
        padding: 10px 0;
        border-top: 1px solid #343e54;
    }

.footer-list li .MuiSvgIcon-root {
    width: 17px;
    height: 17px;
    color: #fff;
    vertical-align: bottom;
    margin-right: 6px;
}

#toast-container > div {
    width: 350px !important;
    background-color: #1b1b1b !important;
}

    #toast-container > div.toast {
        opacity: 1;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);
    }

#toast-container > .toast, #toast-container > .toast-success {
    background-image: none !important;
    opacity: 1;
}

#toast-container > div.toast-success {
    background-image: none !important;
}

#toast-container > div .toast-close-button {
    top: -1px;
    text-shadow: none;
    font-size: 25px;
    font-weight: 500;
}

#toast-container > .toast:before {
    position: fixed;
    font-family: FontAwesome;
    font-size: 35px;
    line-height: 24px;
    float: left;
    background-color: #fff;
    border-radius: 50%;
    width: 27px;
    height: 23px;
    color: #FFF;
    padding-right: 0.5em;
    margin: auto 0.5em auto -1.1em;
}

#toast-container > .toast-warning:before {
    content: "\f06a";
    color: #ff9800;
}

#toast-container > .toast-error:before {
    content: "\f05e";
    color: #f44336;
}

#toast-container > .toast-info:before {
    content: "\f05a";
    color: #03a9f4;
}

#toast-container > .toast-success:before {
    content: "\f058";
    color: #247f00;
}

.scroll_shadow_true {
    /*box-shadow :0 0.1875rem 0.3125rem 0 rgba(44, 46, 48, 0.1);*/
    /*box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);*/
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.scroll_shadow_false {
    box-shadow: none;
}

.cartoon-img {
    position: relative;
}

/* Responsive: Portrait tablets and up */
 

@media (max-width: 767px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    } 
}

@media (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    } 
  
} 

.signup_compImg {
    display: flex;
} 
    .signup_compImg img {
        width: 100%;
    }
