
    <html>
    <head>
    <style>
    #myHeader{
            background-color: bisque;
            color: black;
            padding: 40px;
            text-align: center;
        }
        .city{
            background-color: bisque;
            color: black;
            padding: 10px;
        }
    </style>
    </head>
    <body>
        
<script>
function myFunction() {
  alert(document.getElementById("#firstname").textContent +"I am an alert box!");
}
</script>
<form>
    <label>first name:</label><br>
    <input type="text" id="firstname"/><br>
    <label>last name:</label><br>
    <input type="text" id="last name"/> <br><label>address:</label><br>
    <input type="text id=firstname"><br>
    <label>education:</label><br>
    <input type="text id=last name"> <br><label>pincode:</label><br>
    <input type="text id=firstname"><br>
    <label>Street</label><br>
    <input type="text id=last name"> <br>
    <label>female</label>
    <input type="radio">
    <label>male</label>
    <input type="radio">
   <button onclick="myFunction()">Try it</button>
</form>
        <h1 id="myHeader">My Cities</h1>
        <h2 class="city"> london</h2>
        <p>london is beautiful city</p>
        <h3 class="city">salem</h3>
        <p>salem is famous for mango</p>

        <table>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
                </tr>
                <tr>
                <td>John</td>
                <td>Doe</td>
                <td>50</td>
                </tr>
        </table>

    </body></html>